.AboutSection {
    display: grid;
    grid-template-columns: 60% 40%;

    padding: 1rem;

    border: 4px solid var(--accent-color);
    border-radius: 6px;

	margin: auto auto;
	width: 80%;
	max-width: 1000px;

    
    gap: 1rem;

    background-color: var(--bg-color-2);
    color: var(--text-color);
    text-align: left;
    padding:20px;
    padding-right:40px;
}


.AboutText {
    grid-area: 1 / 1 / 3 / 1;
}
    .AboutText h1 {
        margin-bottom: 30px;
    }
    .AboutText p {
        margin-bottom: 30px;
    }

.AboutImage {
    grid-area: 1 / 2 / 1 / 2;
}
    .AboutImage img {
        width:100%;
        height:100%;
        object-fit:contain;
    }

.AboutSkills {
    grid-area: 2 / 2 / 2 / 3;
}

.SkillGroup li {
    margin-bottom: 10px;
}

.Contact {
    display: flex;
}

.Contact img{
    height:4rem;
    margin:1rem;
}

@media (max-width: 700px) {
    .AboutSection {
        grid-template-rows: auto;
        grid-template-columns: auto;
    }

    .AboutText {
        grid-area: 2 / 1 / 2 / 1;
    }

    .AboutImage {
        grid-area: 1 / 1 / 1 / 1;
    }

    .AboutSkills {
        grid-area: 3 / 1 / 3 / 1;
    }
}