.siteArea {
	align-items: center;
	position: relative;
	display: flex;
	flex: 1;
	flex-direction: column;
	margin: auto;
	margin-top: 20px;
	
}

.gameArea {
	background-color: black;
	width: 80vw;
	height: 80vh;
	position: relative;
	border-radius: 25px;
	overflow: hidden;
	border: 4px solid var(--accent-color);
	display: grid;
	place-items: center;
}

.paddle {
	position: absolute;

	background-color: white;
	width: 1vw;
	height: 10vh;
}

.leftPaddle {
	inset-inline-start: 3vw;
}

.rightPaddle {
	inset-inline-start: 76vw;
}

.ball {
	position: absolute;
	background-color: var(--accent-color);
	border-radius: 0.2vw;
}

.centerLine {
	position: absolute;
	width: 0.5vw;
	height: 100%;
	inset-inline-start: 39.75vw;
	border-left: 0.5vw dashed white;
}

.fps {
	position: absolute;
	inset-inline-start: 1vw;
	inset-block-start: 1vh;
	color: white;
}

.points
{
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 700%;
}

.playButton {
	width: 10vh;
	height: 10vh;
	background-color: var(--accent-color);
	border-radius: 25px;
	border: 0;
}
.playButton:hover {	
	background-color: var(--dark-accent-color);
}

.playImage {
	width: 5vh;
	height: 5vh;
}

.settingsArea {
	margin-top: 15px;
	width: 80vw;
	position: relative;
	display: grid;
	grid-template-columns: auto auto auto;
}
.settingsSideArea {
	text-align: center;
	color: var(--text-color);
}

.settingsSideArea h1 {
	text-align: center;
	color: var(--accent-color);
}
.settingsSideArea h2 {
	text-align: center;
	color: var(--accent-color);
}

.settingsGrid{
	display: grid;
	grid-template-columns: auto auto;
	text-align: center;
	color: var(--text-color);
}


