
.CodeArea {
    border: solid;
    border-radius: 20px;
    border-color: var(--accent-color);
    
    background-color: var(--bg-color-2);
    padding: 2px 30px 5px 15px;
    text-align: left;
    overflow-x: auto;
    overflow-y: hidden;
}