.duck {
	background-color: 0, 0, 0, 0;
	color: blue;
	width: 6rem;
	height: 6rem;
	position: absolute;
	z-index: 1100;
	text-align: center;
	justify-content: center;
	display: flex;
	pointer-events: none;
}

.duckImg {
	display: flex;
	width: 100%;
	height: 100%;
}
