.TimelineBackground {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    width:100%;
}
.TimelineItem {
    display: grid;
    grid-template-columns: 30px 1fr;
    column-gap: 1rem;
}

.TimelineMarker {
    position: relative;
    display: flex;
    justify-content: center;
}

.TimelineDot {
    width: 11px;
    height: 11px;
    position: absolute;
    top: 34px;
    background: var(--accent-color);
    border-radius: 25%;
    z-index: 2;
}

.TimelineLine {
    position: absolute;
    top: 40px;
    width: 3px;
    height: calc(100% + 0.7rem);
    background: var(--accent-color);
}
.TimelineItem:last-child .TimelineLine {
    display: none;
}

.TimelineContent {
    text-align: left;
    white-space: pre-wrap;
    width:100%;

    display:grid;
    grid-template-rows:auto auto;
    grid-template-columns:60% auto;
}
    .TimelineContent h2 {
        color: var(--accent-color);
        margin-bottom: 8px;
    }
    .TimelineContent h4 {
        margin-top: 2px;
        margin-bottom: 8px;
        
    }

.LeftContent {
    grid-column-start:1;
}
.RightContent {
    padding-left: .5rem;
    border-left: 4px var(--accent-color) solid;
}
@media (max-width: 700px) {
    .TimelineContent {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
    }
    .RightContent {
        padding-top: 0;
        padding-left: 0;
        border: 0;
    }
}

.TimelineDate {
    font-size: 1.2rem;
}

.TimelineLink {
    color: var(--text-color);
}