@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

.Site {
	display: flex;
	flex-direction: column;
	flex: 1;
	min-height: 100vh;
}
.background {
	filter: blur(4px);
	background-image: url("/portfolio-website/media/test/limestone.jpg");
	animation: mymove 200000s infinite linear;
	width: 110vw;
	height: 110vh;
	position: fixed;
	left:-5vw;
	top:-5vh;

	z-index: -1;
	background-color: var(--bg-color);
}

@keyframes mymove {
	from {
		background-position-x: 0;
		background-position-y: 0;
	}

	to {
		background-position-x: 200000%;
		background-position-y: 250000%;
	}
}

:root {
	--bg-color: #252627;
	--bg-color-2: #1e1e1e;
	--old-bg-color: #202225;
	--text-color: rgb(221, 221, 221);
	--red-accent-color: #ff4343;
	--teal-accent-color: #00f2fe;
	--green-accent-color: #0aad56;
	--orange-accent-color: #fc6a03;
	--accent-color: #0aad56;
	--dark-accent-color: #067d34;

	--section-height-link-offset: 130px;

	min-height: 10vh;
	display: flex;
	flex-direction: column;
}

body {
	padding: 0;
	margin: 0;
	font-family: "Lato", sans-serif;
}

h1 {
	margin: 0;
	font-weight: 700;
	color: var(--accent-color);
	font-size: 2.2rem;
}
h2 {
	font-size: 1.7rem;
	
}
h3 {
	font-size: 1.4rem;
	color: var(--accent-color);
}

p {
	margin: 0;
	font-size: 1.1rem;
	font-weight: 100;
	line-height: 1.3;
}
strong{
	font-weight:bold;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar:vertical {
	background: var(--bg-color);
	width: 10px;
}
::-webkit-scrollbar:horizontal
{
	height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--bg-color);
	margin-left: 15px;
	margin-right: 15px;
	border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--accent-color);
	border-radius: 5px;
}

/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: var(--dark-accent-color);
	}

html {
	scroll-behavior: smooth;
}